<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />

<meta name="description" content="The Dap trainning project admin" />

<meta property="og:type" content="website" />
<meta property="og:site_name" content="Stack Overflow" />

<link rel="stylesheet" type="text/css" th:href="@{/css/dap.css}"/>

<title th:text="#{error.userNotAllowed.title}">Data Access Project Error</title>

</head>
<body>
	<div>
		<h2 th:text="#{error.userNotAllowed.title}">Error : user is not allowed</h2>
	</div>
	<div id="content">
		<span class="error" th:text="#{error.userNotAllowed.message}">User not allowed</span>
	</div>
</body>
</html>